AI_AGENT+WHATSAPP+Basica.json
{
  "name": "AI_AGENT+WHATSAPP+Basica",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-api",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -16
      ],
      "id": "c7c6a694-83aa-40e0-989b-a220c6d1d87b",
      "name": "Webhook",
      "webhookId": "8c611abf-a955-473d-8f78-5483374f3561"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fe86f805-3a0c-4331-9a8e-1c0c479090e1",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        -32
      ],
      "id": "0ca08258-6a26-4037-85e1-57c43662a625",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f142c027-2466-460d-a5c9-08736831cfef",
              "name": "mensaje",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "09faa7d2-a48c-4e56-b0fa-b0b405e94427",
              "name": "telefono",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "d80b587b-a785-4780-9a36-bbfa2a561c1b",
              "name": "nombre",
              "value": "=  {{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "f11f8652-2f29-42c0-b96f-f24baac68634",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -96
      ],
      "id": "574623e0-71ca-4bbe-9de3-84710ea083bc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.mensaje }}",
        "options": {
          "systemMessage": "Eres un asistente amable. Responde siempre en español\nde forma corta y directa. Máximo 2-3 líneas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        400,
        -112
      ],
      "id": "a59f666c-15e2-4d20-bada-d81f3da16e28",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        272,
        96
      ],
      "id": "eb6e96fa-4c25-439b-879c-ffbba8945968",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Ki9f3m1gxyeNHCdJ",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.telefono }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        416,
        96
      ],
      "id": "784de168-7364-4d28-b26b-b5e5664cdfe7",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "NAqFwLmLPBBVyDiv",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/Jefferson",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "MiClaveSecreta2026XYZ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Edit Fields').item.json.telefono }}\",\n  \"text\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        -112
      ],
      "id": "d38fffd6-8d9a-42c9-a4da-d3365f40dc9f",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7d78a914-3b64-41c4-9df5-e5f6e75d65d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04fa49b5342683f3459c11df7acab88fd9d5826423bbee4173c0a22e9e21410c"
  },
  "id": "8e3xaGmkavwvTfJVCqlxK",
  "tags": []
}